.spinner{
    border: 8px solid #f3f3f3;
    border-top: 8px solid #555;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 40px auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}